################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sage-App-Pool-Extractor/FileContentIndex
/.vs/Sage-App-Pool-Extractor/v17
/.vs
